{% extends "main/header.html" %}


{% block content %}
    <div class="col">
        {% for a in active %}
            <div class="col s12 m6">
                <a href="../{{a.active_id}}">
                    <div class="card hoverable green lighten-3">
                        <div class="card-content black-text">
                            <span class="card-title"> {{a.user1}} vs. {{a.user2}}</span>
                            <p>{{a.last_move}}</p>
                            <br>
                            <p>{{a.active_content|safe}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="card hoverable green lighten-3">
            <div class="card-content black-text">
                <span class="card-title"> No Other Active Games Found</span>
                <p> :( </p>
            </div>
        </div>
    </div>
{% endblock %}s