{% extends "main/header.html" %}


{% block content %}

    <div class="row">
        <div id="myBoard" style="width: 500px"></div>
        <button id="startBtn">Start Position</button>
    </div>
    <script>
        var board = Chessboard('myBoard', {draggable: true,
                                           moveSpeed: 'slow',
                                           snapbackSpeed: 500,
                                           snapSpeed: 100,
                                           position: 'start'})
        $('#startBtn').on('click', board.start)
    </script>

    <div class="col">
        <div class="col s12 m6">
            <div class="card green lighten-3">
                <div class="card-content black-text">
                    <span class="card-title"> {{game.game_white}} vs. {{game.game_black}}</span>
                    <p>{{game.game_published}}</p>
                    <br>
                    <p>{{game.game_content|safe}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}