<head>
    {% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <link href="{%static 'main/css/materialize.css'%}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/chessboard-1.0.0.css' %}">
    <script src="{% static 'main/js/chessboard-1.0.0.js' %}"></script>
    <script src="{% static 'main/js/chess.js' %}"></script>
</head>

<body>

    {% include "main/includes/navbar.html" %}
    {% include "main/includes/messages.html" %}
    
    <div class="container">
        <br>
        {% block content %}
        {% endblock %}
    </div>

</body>

<script src="{% static 'tinymce/js/prism.js' %}"></script>

