{% extends "main/header.html" %}


{% block content %}
    <div class="col">
        {% for game in games %}
            <div class="col s12 m6">
                <div class="card green lighten-3">
                    <div class="card-content black-text">
                        <span class="card-title"> {{game.game_players}}</span>
                        <p>{{game.game_published}}</p>
                        <br>
                        <p>{{game.game_content|safe}}</p>
                    </div>
                    <div class="card-action ">
                        <a href="#">Watch</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}