<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<nav>
    <div class="nav-wrapper green">
        <div class="w3-container">
            <a href="/" class="brand-logo", style="padding-left:20px">EBChess</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/study">Study</a></li>
                <li><a href="/local">Local</a></li>
                <li><a href="/ai">Play AI</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/challenges">Challenges</a></li>
                    <li><a href="/active">Active Games</a></li>
                    <li><a href="/account">{{user.username}}</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/study">Study</a></li>
    <li><a href="/local">Local</a></li>
    <li><a href="/ai">Play AI</a></li>
    {% if user.is_authenticated %}
        <li><a href="/challenges">Challenges</a></li>
        <li><a href="/active">Active Games</a></li>
        <li><a href="/account">{{user.username}}</a></li>
        <li><a href="/logout">Logout</a></li>
    {% else %}
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
    {% endif %}
</ul>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
$(document).ready(function(){
    $('.sidenav').sidenav();
});
</script>