<div class="row">
    <div class="col s12 m6 offset-m3">
        <div id="myBoard" style="width: 100%"></div>
        <br>
        <button id="flipOrientationBtn">Flip</button>
        <br>
    </div>
</div>

<script>

    // using the chess.js library:
    // https://github.com/jhlywa/chess.js

    var board = null
    var game = new Chess()

    var config = {
    draggable: true,
    position: 'start',
    dropOffBoard: 'trash',
    sparePieces: true,
    }
    board = Chessboard('myBoard', config)

    updateStatus()

    $('#flipOrientationBtn').on('click', board.flip)
</script>
